/* Some basic formatting */

code {
  background-color: #E0E0E0;
  padding: 0.25em 0.3em;
  font-family: 'Lato';
  font-weight: bold;
}
.container {
  padding: 5em 0em;
}
.ui.dividing.header,
.first {
  margin-top: 5em;
}

.ui.dividing.header:first-child {
  margin-top: 0em;
}

h1,
h3 {
  margin-top: 10em;
}

img {
  display: block;
  max-width: 100%;
}
img + img {
  margin-top: 0.5em;
}

/* Shows content box (not negative margins) */
.grid {
  position: relative;
}
.grid:before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  /*background-color: #F0F0F0;*/
  content: '';
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  /*box-shadow: 0px 0px 0px 1px #DDDDDD inset;*/
}
.ui.divided.grid:before,
.celled.grid:before {
  display: none;
}
.ui.aligned .column:after {
  display: none !important;
}
.grid .column:not(.row):not(.grid):after {
  /*background-color: rgba(86, 61, 124, .15);
  box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;*/
  content: "";
  display: block;
  min-height: 50px;
}
@media only screen and (max-width: 768px) {
  .stackable.grid:before {
    width: 100%;
    left: 0em;
  }
}



.nome {
  font-size: 3em;
  color: #6583ed;
}

.ui.table {
    border: none;
}

.ui.celled.table tr td, .ui.celled.table tr th {
    border-left: none;
}

/* Tamanho dos icones */
.ui.mini.image, .ui.mini.images .image, .ui.mini.images img, .ui.mini.images svg {
    width: 25px;
    height: 25px;
    font-size: .78571429rem;
}


/* Margem top Contato, Pessoal */
.ui.horizontal.segments {
  margin-top: 0px;
}


/* Espaçamento do topo*/
.container {
    padding: 1em 0em;
}

/* Espaçamento entre experiências */
.ui.section.divider {
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    margin-top: 0px;
    margin-bottom: 0px;
}
